/.env
/.mysql.env
/.idea
/vendor
.DS_Store
node_modules
.sass-cache
.publish
public/assets
Desktop.ini
**/generated/_icons.sass
npm-debug.log

!storage/.gitkeep
!storage/logs/php-fpm/.gitkeep
.env.staging
web/mix-manifest.json
