###############################################################################
## After you launch your environment, set unique values for these properties
## using the EB CLI's 'eb setenv' command, or the software settings screen in
## Configuration menu for your environment in the Elastic Beanstalk management
## console. Settings using these methods will override the values set in this
## file, and will not be visible in your source code.
###############################################################################

option_settings:
  aws:elasticbeanstalk:application:environment:
    ENVIRONMENT: 'staging'
    SITE_URL: 'http://app'
    DB_SERVER: ''
    DB_DATABASE: ''
    DB_USER: ''
    DB_PASSWORD: ''
    DB_TABLE_PREFIX: 'craft'
    DB_DRIVER: 'mysql'
    REDIS_HOST: ''
    REDIS_USER: ''
    REDIS_PORT: ''
    REDIS_PASS: ''
    SECURITY_KEY: ''
    CSRF_TOKEN: 'csrf'
    ASSETS_BASE_URL: ''
    CLOUDFLARE_API_KEY: ''
    CLOUDFLARE_API_EMAIL: ''
    CLOUDFLARE_ZONE_ID: ''
    CLOUDFLARE_DOMAIN: ''
    UPPER_DRIVER: 'dummy'

files:
  "/opt/elasticbeanstalk/tasks/taillogs.d/craftcms.conf":
    mode: "000755"
    owner: root
    group: root
    content: |
      /var/app/current/storage/logs/*
