// Colors
// ======
$transparent-color: transparent;

// Social Media Brand Colors
// =========================
$twitter: #00aced;
$facebook: #3b5998;
$googleplus: #dd4b39;
$pinterest: #cb2027;
$linkedin: #007bb6;
$youtube: #bb0000;
$instagram: #517fa4;

// Fonts
// =====
//$brandonGrotBold: 'Brandon Grotesque Bold', sans-serif;
//$brandonGrotMedium: 'Brandon Grotesque Medium', sans-serif;
//$clearSansRegular: 'Clear Sans Regular', sans-serif;
//$proximaNovaRegular: 'Proxima Nova Regular', sans-serif;
//$proximaNovaMedium: 'Proxima Nova Medium', sans-serif;
//$proximaNovaSemibold: 'Proxima Nova Semibold', sans-serif;
//$proximaNovaBold: 'Proxima Nova Bold', sans-serif;
