{% set expiry = now | date_modify('+30 days') %}
{% header "Cache-Control: max-age=" ~ expiry.timestamp %}
{% header "Pragma: cache" %}
{% header "Expires: " ~ expiry | date('D, d M Y H:i:s', 'GMT') ~ " GMT" %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>{% block title %}{% endblock %}</title>
        {# <link rel="stylesheet" href="{{ elixir('css/app.css') }}"> #}
    </head>
    <body>
    {% block body %}{% endblock %}
    {% block scripts %}{% endblock %}
    {# <script src="{{ elixir('js/app.js') }}"></script> #}
    </body>
</html>
